attached_assets/Bao_Nguyen_Portfolio_1777128271191.rar filter=lfs diff=lfs merge=lfs -text
attached_assets/extracted/Bao[[:space:]]Nguyen[[:space:]]Portfolio/Speak/Mythinks_VideoLessons_V2.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/portfolio/work/speak/06.mp4 filter=lfs diff=lfs merge=lfs -text
