attached_assets/Bao_Nguyen_Portfolio_1777128271191.rar filter=lfs diff=lfs merge=lfs -text
attached_assets/extracted/Bao[[:space:]]Nguyen[[:space:]]Portfolio/Speak/Mythinks_VideoLessons_V2.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/portfolio/work/speak/06.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/Bao_Nguyen_Portfolio_1777129983120.rar filter=lfs diff=lfs merge=lfs -text
attached_assets/extracted_v2/Bao[[:space:]]Nguyen[[:space:]]Portfolio/Speak/Mythinks_VideoLessons_V2.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/Bao_Nguyen_Portfolio_1777298613676.rar filter=lfs diff=lfs merge=lfs -text
attached_assets/extracted_v3/Bao_Nguyen_Portfolio_1777298613676/Personal[[:space:]]Short[[:space:]]film/A[[:space:]]flower[[:space:]]is[[:space:]]not[[:space:]]a[[:space:]]flower[[:space:]](short[[:space:]]film[[:space:]]by[[:space:]]Thong[[:space:]]Dao)[[:space:]]-[[:space:]]YouTube.mp4 filter=lfs diff=lfs merge=lfs -text
